* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@media (max-width: 1279px) {
   html {
      font-size: 93.75%; //15px
   }
}
@media (max-width: 1080px) {
   html {
      font-size: 87.5%; //14px
   }
}
@media (max-width: 768px) {
   html {
      font-size: 81.25%; //13px
   }
}
@media (max-width: 480px) {
   html {
      font-size: 75%; //12px
   }
}

button, a {
   cursor: pointer;
}

a {
   text-decoration: none;
   color: inherit;
}
